<div class="container">
    <h1>{{titulo}}</h1>

    <div class="form-group row">

        <div class="col-sm-6">
            <label for="clusters" class="col-form-label col-sm-2">Clusters</label>
            <input type="number" id="clusters" class="form control" name="clusters" #clusters>
            <label for="links" class="col-form-label col-sm-2">Link</label>
            <input type="text" id="clusters" class="form control" name="clusters" #link>
            <button class="btn btn-success" role="button" (click)="mostrar(link.value,clusters.value)">Actualizar</button>
        </div>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Indice</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Porcentaje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grupo of info.grupo">
                    <th scope="row"> {{grupo.indice}} </th>
                    <td>{{grupo.valor}}</td>
                    <td>{{grupo.tamanio}}</td>
                    <td>{{grupo.porcentaje}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>